!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Cabify - Profile
    = stylesheet_link_tag 'all'

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          = link_to "Cabify", '#journeys', class: 'navbar-brand'

    .container
      .row
        .col-md-3
          .form-group
            #tabs.btn-group.btn-group-justified
              %a.btn.btn-default.journeys{href: '#journeys'} Trayectos
              %a.btn.btn-default.account{href: '#account'} Cuenta

          #sidebar
        .col-md-9
          #main
            = yield

    = javascript_include_tag 'all'
