!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Cabify - Profile
    = stylesheet_link_tag 'all'

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          = link_to "Cabify", '#journeys/order', class: 'navbar-brand'

    .container
      .row
        .col-md-3
          #tabs
          #sidebar
        .col-md-9
          #flash-messages
          #main
            = yield

    = javascript_include_tag 'all'
