<div class="row">
  <div class="col-xs-2">
    <big>{{start_at_day}}</big>
    <small>{{start_at_month}}</small>
  </div>
  <div class="col-xs-10">
    <strong>Desde:</strong> {{start_loc}}<br/>
    <strong>A:</strong> {{end_loc}}
  </div>
</div>
